*
!Afrikaans
!Afrikaans/*
!Arabic
!Arabic/*
!ChineseSimplified
!ChineseSimplified/*
!Dutch
!Dutch/*
!English
!English/*
!German
!German/*
!Indonesian
!Indonesian/*
!Japanese
!Japanese/*
!Russian
!Russian/*
!Spanish
!Spanish/*
!Ukrainian
!Ukrainian/*
!Vietnamese
!Vietnamese/*
!.gitignore
